.footer {
  padding-top: 38px;
  background-color: $secondary-color;
}

.footer__logo {
  margin-bottom: 28px;
}

@media (min-width: $tablet-width) {
  .footer {
    padding: 42px 0;
  }

  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-self: center;
  }

  .footer__logo {
    margin-bottom: 0;
  }
}
