@media (min-width: $tablet-width) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 21px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    padding-top: 53px;
  }
}
