.intro {
  position: relative;

  margin-bottom: 22px;
  padding-top: 30px;

  text-align: center;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% 320px;
}

.intro__title {
  @include text-reset;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 25px;

  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  font-family: $oswald;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.intro__description {
  @include text-reset;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  font-family: $oswald;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.intro__img {
  margin-bottom: 3px;
}

.btn {
  width: 280px;
  margin: auto;

  box-sizing: border-box;
}
