.page {
  width: 320px;
  margin: 0 auto;
}

.page__title {
  @include text-reset;
  width: 280px;
  margin-top: 15px;
  margin-bottom: 30px;
  padding: 0 6.25%;


  font-weight: normal;
  font-size: 36px;
  line-height: 60px;
  font-family: $oswald;
  color: $black;
}
