.page__intro {
  margin-bottom: 23px;
}

.page__categories {
  margin-bottom: 16px;
}

.page__advantages {
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .page__intro {
    margin-bottom: 20px;
    padding-bottom: 509px;
  }

  .page__categories {
    margin-bottom: 45px;
  }

  .page__advantages {
    margin-bottom: -32px;
  }
}

@media (min-width: $desktop-width) {
  .page__intro {
    padding-bottom: 250px;
  }
}
