.page-intro {
  margin-bottom: 23px;
}

.page-categories {
  margin-bottom: 16px;
}

.page-advantages {
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .page-intro {
    margin-bottom: 20px;
    padding-bottom: 509px;
  }

  .page-categories {
    margin-bottom: 45px;
  }

  .page-advantages {
    margin-bottom: -32px;
  }
}

@media (min-width: $desktop-width) {
  .page-intro {
    padding-bottom: 250px;
  }
}
