.promo {
  position: relative;

  width: 280px;
  margin: 0 auto;
  padding-top: 190px;
  padding-bottom: 40px;

  text-align: center;

  background-color: $green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;

  &::before {
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;

    display: block;
    width: 55px;
    height: 60px;
    margin: auto;

    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;

    content: "";
  }
}

.promo__caption {
  @include text-reset;
  padding: 0 50px;

  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
