@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;

  src: url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
}

@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;

  src: url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $main-text-color;
  background-color: #ffffff;
}


img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
